.Index {
	h1 {
	  font-size: 55px;
	  line-height: 55px;
	  letter-spacing: -1px;
	  color: #ffffff;
	  font-weight: 700;
	}
	.lead {
	  font-size: 21px;
	  line-height: 26px;
	  color: #ffffff;
	  font-weight: 400;
	}
}
