.sectionOne {
  margin-top: -20px;
  background: url(../img/theGroup.JPG) #cccccc no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.sectionOne-info {
  background-color:rgba(150,150,150,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100.7%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1%;
}

.titletext {
  font-size: 35px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.pasText{
  font-size: 24px;
  font-weight: 100;

  font-family: 'Raleway', sans-serif;
}

.title-one {
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

.thirdrow {
  margin-top:30px;
  font-weight:100 !important;
}

.lead {
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
}


@media only screen 
  and (max-device-width : 800px) {
    .title-one {
      font-size: 40px;
      line-height: 40px;
    }
    .lead {
      font-size: 15px;
    }
    .aboutus {
      font-size: 25px;
    }
}

@media only screen 
  and (min-device-width : 800px) {
    .title-one {
      font-size: 60px;
      line-height: 60px;
    }
    .lead {
      font-size: 21px;
    }
    .aboutus {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

.pad-xl {
  padding: 200px 0px;
}

.pad-lg {
  padding: 160px 0px;
}

.pad-mid {
  padding: 120px 0px;
}

.pad-sm {
  padding: 80px 0px;
}

.pad-xs {
  padding: 30px 0px;
}

.first img{
      max-width: 60%;
      max-height: 60%;
      width: auto;
      height: auto;
}

.second img{
      max-width: 77%;
      max-height: 77%;
      width: auto;
      height: auto;
}

.third img{
      max-width: 50%;
      max-height: 50%;
      width: auto;
      height: auto;
}

.fourth img{
      max-width: 60%;
      max-height: 60%;
      width: auto;
      height: auto;
}

#be-the-first {
  background: url(../img/be-the-first-bg.jpg) #231f20 no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-info {
  background-color: #eeeeee;
}

textarea { resize: vertical; }

.conversation {
  margin-top: 45px;
}

/*style for the photo*/

body {
  overflow-y: scroll;
}


#containerp:before,
#containerp:after {
  content: "";
  display: table;
}
#containerp:after {
  clear: both;
}
#photos {
  float: left;
  margin-bottom: 15px;
}
#photos img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.first-item {
  clear: both;
}
.last-row, .last-row ~ .item {
  margin-bottom: 0;
}

/*style for the photo end */

