.footer-icon {
  text-decoration: none!important;
  font-size: 24px;
  padding-right: 10px;
  color: #4c4c4c;
}

.footer-content {
    color: #777;
    background-color: #f6f6f6;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none!important;
}

.copyright {
    text-align: center;
}

.h5 {
    font-weight: 500;
}